
.mapimage{
  height: 350px;
  width: 350px;
  z-index: -1;
  margin: none;
  cursor: pointer;
}

.cordinates-confirmed{
  
  background-color: orange;
  color:black;
  border: 2px black solid;
  border-radius: 2px;
  padding: 5px;
}

.cordinates-change{
  background-color: green;
  color: wheat;
  border: 2px black solid;
  border-radius: 3px;
  padding: 5px;
}


.my-header {
  margin: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
